@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    height: 90px;
}

.navbar {
    height: 90px;
    display: flex;
    align-items: center;
}

.navbar-content {
    max-width: 1283px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu li {
    margin: 0 25px;
}

.navbar-menu li a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #214E41;
}

.navbar-btn {
    margin-left: 46px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #43806C;
    border-radius: 6px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.navbar-login {
    margin-left: 36px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #214E41;
}

.navbar-login select {
    border: none;
    outline: none;
}

.navbar-lang {
    margin-left: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #214E41;
}

.header {
    background-image: url(/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 90px);
    background-position: center;
    border-radius: 0px;
}

.header-content {
    padding: 161px 120px;
}

.header-title {
    width: 516px;
    height: 138px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
}

.header-text {
    margin-top: 80px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #214E41;
}

.header-btn {
    margin-top: 16px;
}

.header-lighter {
    background: #FFFFFF;
    border-radius: 6px 0px 0px 6px;
    padding: 20px 88px 20px 20px;
    width: 280px;
    height: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    border: none;
}

.header-success {
    width: 123px;
    height: 60px;
    background: #43806C;
    border-radius: 0px 6px 6px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
}

.box-container {
    width: 1200px;
    height: 171px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
    border-radius: 6px;
    padding: 57px 50px;
    display: flex;
}

.box-content {
    display: flex;
}

.box {
    transform: translateY(-50%);
}

.box-img {
    width: 41px;
    height: 45px;
    border-radius: 0px;
    padding-right: 50px;
}

.box-title {
    width: 117px;
    height: 24px;
    padding-left: 10px;
    padding-top: -5p;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #214E41;
}

.box-text {
    width: 276px;
    height: 40px;
    margin: -5px 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #214E41;
}

.plan {
    height: 728px;
    transform: translateY(-24%);
    padding-top: 176px;
}

.plan-container {
    width: 1200px;
    height: 432px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

.plan-left {
    width: 510px;
    height: 358px;
    margin-left: 60px;
    margin-top: 70px;
}

.plan-head {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;

    color: #43806C;
}

.plan-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    margin-top: 20px;
}

.plan-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
    margin-top: 34px;
}

.plan-foot {
    margin-top: 24px;
}

.plan-up {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02px;
    color: #214E41;
    width: 107px;
    height: 36px;
    margin-left: 15px;
    text-align: center;
}

.plan-line {
    width: 137px;
    height: 2px;
    background-color: #214E41;
}

.plan-right {
    padding-top: 36px;
    padding-left: 103px;
}

.bring {
    height: 640px;
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.bring-content {
    margin: 0 auto;
}

.bring-left-container {
    height: 100%;
    width: 585px;
    background-color: #E3EEED;
}

.bring-right-container {
    height: 100%;
    width: 615px;
    background-color: #214E41;
}

.bring-left {
    width: 600px;
    height: 400px;
    margin: 120px 0px;
    margin-left: 120px;
}

.bring-right {
    width: 500px;
    height: 272px;
    margin: 180px 160px;
    margin: 0 auto;
    padding-top: 180px;
}

.bring-p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #214E41;
    margin-bottom: 30px;
}

.bring-h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #214E41;
    margin-top: 18px;
}

.bring-5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #43806C;
    margin-top: 18px;
}

.bring-text1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02px;
    color: #FFFFFF;
}

.bring-text2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    margin-top: 32px;
}

.health {
    width: 100%;
    height: 298px;
    margin-top: 120px;
    display: flex;
}

.health-left {
    width: 600px;
    height: 298.34px;
}

.health-head {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
    width: 194px;
    height: 20px;
}

.health-body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    width: 556px;
    height: 92px;
    margin-top: 20px;
}

.health-foot {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
    width: 551px;
    height: 90px;
    margin-top: 64px;
}

.health-right {
    width: 560px;
    height: 298px;
}

.number {
    width: 100%;
    height: 132px;
    margin-top: 260px;
}

.number-call {
    display: flex;
}

.call-1 {
    width: 262.5px;
    height: 132px;
    margin-right: 50px;
}

.c1 {
    width: 34px;
    height: 78px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #F0A446;
}

.c11 {
    width: 239px;
    height: 44px;
    margin-top: 13px;
    margin-right: 23.5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.02px;
    color: #214E41;
}

.call-2 {
    width: 262.5px;
    height: 132px;
    margin-right: 50px;
}

.c2 {
    width: 23px;
    height: 78px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #F0A446;
}

.c22 {
    width: 262px;
    height: 44px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.02px;
    color: #214E41;
    margin-top: 13px;
}

.call-3 {
    width: 262.5px;
    height: 132px;
    margin-right: 50px;
}

.c3 {
    width: 60px;
    height: 78px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #F0A446;
}

.c33 {
    width: 225px;
    height: 44px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.02px;
    color: #214E41;
    margin-top: 13px;
    margin-right: 33.5px;
}

.call-4 {
    width: 262.5px;
    height: 132px;
}

.c4 {
    width: 38px;
    height: 78px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #F0A446;
}

.c44 {
    width: 231px;
    height: 44px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.02px;
    color: #214E41;
    margin-top: 13px;
    margin-right: 31px;
}

.phone {
    width: 100%;
    height: 500px;
    margin-top: 117px;
    display: flex;
}

.phone-head {
    width: 296px;
    height: 500px;
    margin-left: 120px;
    margin-right: 103px;
}

.phone-body {
    width: 686px;
    padding-left: 120px;
    padding-top: 68px;
}

.body-p {
    width: 207px;
    height: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
}

.body-h3 {
    width: 483px;
    height: 92px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    margin-top: 20px;
}

.body-pp {
    width: 545px;
    height: 90px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
    margin-top: 34px;
}

.body-h4 {
    width: 105px;
    height: 18px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02px;
    color: #214E41;
    margin-top: 24px;
}

.body-line {
    width: 88.2px;
    height: 2px;
    background: #214E41;
    margin-top: 15px;
}

.easy {
    background-image: url(/images/women.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 522px;
    background-size: cover;
    margin-top: 410px;
    width: 100%;
    padding-top: 125px;
}

.easy-content {
    width: 500px;
    height: 282px;
    margin-left: 120px;
}

.cont1 {
    width: 114px;
    height: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
}

.cont2 {
    width: 391px;
    height: 92px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    margin-top: 20px;
}

.cont3 {
    width: 491px;
    height: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
    margin-top: 34px;
    margin-right: 9px;
}

.cont4 {
    width: 100px;
    height: 18px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02px;
    color: #214E41;
    margin-top: 24px;
}

.cont-line {
    width: 100.2px;
    height: 2px;
    background: #214E41;
    margin-top: 14px;
}

.logo-tip {
    width: 100%;
    height: 226px;
    margin-top: 520px;
}

.logo-h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #214E41;
}

.logo-images {
    width: 100%;
    height: 70px;
    padding: 5px;
    margin-top: 110px;
}

.l1 {
    margin-left: 50px;
}

.l2 {
    margin-left: 80px;
}

.l3 {
    margin-left: 80px;
}

.l4 {
    margin-left: 80px;
}

.l5 {
    margin-left: 94px;
}

.anketa {
    width: 100%;
    height: 368px;
    margin-top: 246px;
    display: flex;
}

.anketa-1 {
    width: 355px;
    height: 368px;
    margin-left: 56px;
}

.anketa-1 p {
    width: 55px;
    height: 18px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
    margin-top: 20px;
}

.anketa-1 h3 {
    width: 342px;
    height: 78px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #214E41;
    margin-top: 15px;
}

.anketa-2 {
    width: 355px;
    height: 341px;
    margin-left: 40px;
}

.anketa-2 p {
    width: 144px;
    height: 18px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
    margin-top: 21px;
}

.anketa-2 h3 {
    width: 313px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #214E41;
    margin-top: 15px;
}

.anketa-3 {
    width: 355px;
    height: 341px;
    margin-left: 40px;
}

.anketa-3 p {
    width: 119px;
    height: 18px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
    margin-top: 21px;
}

.anketa-3 h3 {
    width: 349px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #214E41;
    margin-top: 15px;
}

.foot {
    width: 1200px;
    height: 577px;
    margin-top: 420px;
    display: flex;
}

.foot-img {
    width: 600px;
    height: 577px;
    background: #E3EEED;
    border-radius: 0px;
}

.foot-content {
    width: 520px;
    height: 337px;
    margin-top: 144px;
    padding-left: 120px;
}

.foot-content p {
    width: 423px;
    height: 138px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
}

.foot-content h3 {
    width: 170px;
    height: 46px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    margin-top: 46px;
}

.foot-content button {
    background: #43806C;
    border: 1px solid #43806C;
    border-radius: 6px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    padding: 13px 23px;
    margin-top: 60px;
    cursor: pointer;
}

.green {
    width: 100%;
    height: 638px;
    margin-top: 487px;
    background: #214E41;
    border-radius: 0px;
    padding-top: 100px;
}
.green-up{
    width: 100%;
    height: 286px;
    background-color: green;
}
.g-logo{
    width: 98px;
    height: 28px;
}